@CHARSET "UTF-8";

header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
nav {
    line-height:30px;
    background-color:#eeeeee;
    height:100%;
    width:100px;
    float:left;
    padding:5px;
}
section {
    width:70%;
    height:100%;
    float:left;
    padding:10px;
}

aside {
	line-height:30px;
    background-color:#eeeeee;
	float: right;
	width: 200px;
	height:100%;
}

footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}

button {
     background:none!important;
     border:none; 
     padding:0!important;
     font-family:arial,sans-serif;
     font-size: 15px;
     color:green;
     display:inline-block
     text-decoration:underline;
     cursor:pointer;
}

input[type=button] {
     background:none!important;
     border:none; 
     padding:0!important;
     font-family:arial,sans-serif;
     font-size: 15px;
     color:green;
     display:inline-block
     text-decoration:underline;
     cursor:pointer;

}

.friends {
   float: left;
   margin: 10px;
   padding: 10px;
   max-width: 130px;
   max-height: 1300px;
   border: 1px solid black;
}

a:link {
	color: green;
}
		
/* visited link */
a:visited {
    color: navy;
}

/* mouse over link */
a:hover {
    color: orange;
}

/* selected link */
a:active {
    color: blue;
}
