@CHARSET "UTF-8";

header {
	    background-color:black;
	    color:white;
	    text-align:center;
	    padding:5px;
	}
nav {
    line-height: 30px;
    background-color: #eeeeee;
    height:500px;
    width:100px;
    float:left;
    padding:5px;
}
section {
    width: auto;
    float:center;
    padding:10px;
}
footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}


a:link {
	color: green;
}
		
/* visited link */
a:visited {
    color: navy;
}

/* mouse over link */
a:hover {
    color: orange;
}

/* selected link */
a:active {
    color: blue;
}